@import url('http://https//fonts.googleapis.com/css?family=Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;


}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    
    display: flex;
    justify-content: space-between;
    align-items:center ;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: rgb(11, 12, 12);
    user-select: none;
}
.navigation a{

    position: relative;
    
    font-size: 1.1em;
    color: rgb(13, 15, 15);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btnlogin_popup{
    width: 130px;
    height:50px ;
    background:transparent ;
    border: 2px solid rgb(12, 12, 12) ;
    outline: none;
     border-radius: 6px;
     cursor: pointer;
     font-size: 1.1em;
     margin-left: 40px;
     color: rgb(12, 12, 12);
     font-weight: 500
     ;
}
.navigation .btnlogin_popup:hover{
    background: white;
    color: black;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    bottom: -6px;
    background: rgb(154, 12, 12);
  border-radius: 5px;  
 transform-origin: right; 
 transform: scaleX(0);
 transition:transform.5s;
 
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid yellow ;
    border-radius:20px ;
    backdrop-filter: blur(20px);
    box-shadow:0 0 30px black ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .form-box{
    width:100%;
    padding: 40px;

}
.wrapper .icon-close{
    position: absolute;
    top:0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 5px;
}
.form-box h2{
    font-size: 2em;
    color: black;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
     
}
.input-box label{
    position: absolute;
    top :50%;
    left: 35px;
    transform: translate(-50%);
    font-size: 1em;
    color: rgb(17, 5, 5);
    font-weight: 500;
    pointer-events:none ;
    transition: .5s;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none ;
    outline: none;
    font-size: 1em;
  
    color: rgb(10, 9, 9);
    font-weight: 600;
    padding: 0 35px 0 5px;
    
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: black;
    margin-right: 3px;


}
.remember-forgot a{
    color: black;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top :-5px;
}
.btn{
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;

}
.login-register{
    font-size: 0.9em;
    color: black;
    text-align: center;
    font-weight: 500;
      margin: 25px 0 10px;

}
.login-register p a{
    color: black;
    text-decoration: none;
    font-weight: 600;

}
.registeration-link:hover{
    text-decoration: underline;
}
.registeration-link{
    color: black;
    text-decoration: solid;
  
}
